<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="card" class="com.example.demo.Card" scope="prototype">
    </bean>

    <bean id="account" class="com.example.demo.Account" scope="prototype">
    </bean>

    <bean id="atm" class="com.example.demo.ATM"
    init-method="doMyInit" destroy-method="doMyDestroy"
    scope="singleton">
    </bean>

    <bean id="bank" class="com.example.demo.Bank" scope="prototype">
        <property name="bankNO" value="123"></property>
        <property name="city" value="Balkhash"></property>
    </bean>

</beans>
